* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: #CA8D9E;
}

header h1 {
    font-size: 40px;
    color: #4D1930;  
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: #4D1930;
    text-decoration: underline;
}

.hero {
    background-image: url("../images/placeholder.jpg");
    background-size: cover;
    padding: 80px;
    background-position: center;
    position: relative;
}

.hero h2 {
    position:absolute;
    bottom: 5px;
    right: 30px;
    background-color: #CA8D9E;
    padding: 5px;
}

#about-me {
    display:flex;
    justify-content: space-eve;
    align-items: center;
    margin: 10px 20px;
}

#about-me img {
    width: auto;
    height:300px;
}

#about-me h3 {
    border-right: 5px solid gray;
    font-size: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.flex p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex p a {
    padding-left: 5px;
    padding-right: 5px;
}
