* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px;
    background-color: #CA8D9E;
}

header h1 {
    font-size: 40px;
    color: #4D1930;  
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: #4D1930;
    text-decoration: underline;
}

.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding: 100px;
    background-position: center;
    position: relative;
}

.hero h2 {
    position:absolute;
    bottom: 5px;
    right: 30px;
    background-color: #CA8D9E;
    padding: 5px;
}

#about-me {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 20px;
}

#about-me img {
    width: auto;
    height:300px;
    padding: 5px;
}

.about p {
    max-width: 800px;
    font-size: 18px;
}

.heading {
    border-right: 5px solid grey;
    font-size: 40px;
    padding-right: 10px;
    margin-right: 10px;
}

#portfolio {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 20px
}

.main-image {
    background-image: url("../images/background.jpg");
    width: 1000px;
    padding: 200px;
    border: 3px solid #CA8D9E;
    position: relative;
}

.main-image p {
    position:absolute;
    left: 5px;
    bottom: 30px;
    background-color: #CA8D9E;
    font-size: 30px;
    padding: 5px;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 20px;
    max-width: 1500px;
}

#contact p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact p a {
    padding: 0 20px;
    font-size: 30px;
}
